// This file contains all global value such as colors, space, fonts, font sizes, etc.

//general page settings

$sectionWidth: 1170px
$productWidth: 270px

//fonts
$fontPrimary: HevleticaNeue, Helvetica, Arial, sans-serif

//font sizes

$fontSizeS: 12px
$fontSizeM: 14px
$fontSizeL: 24px

//colors
$colorBG: #fff
$colorPrimary: #000
$colorSecondary: #8f8f8f
$colorPrice: #ff0000
$colorBulletSelected: transparent

//spacings

$spacingBullet: 5px
$spacingProduct: 10px
$spacingProductImage: 10px 0
$spacingProductTitle: 10px

//transitions
$globalTransition: 0.2s linear



