@import reset
@import settings
@import utilities


//global selectors
body
	font-family: $fontPrimary
	color: $colorPrimary

	*
		box-sizing: border-box
		vertical-align: top
		position: relative

h1
	font-size: $fontSizeL
	text-transform: uppercase
	font-weight: bold
	margin-bottom: 40px

span
	color: $colorSecondary

img
	display: inline-block

a
	outline: none
	text-decoration: none


//general layout 

#main
	width: 100%
	background-color: $colorBG

#widget-standart
	width: $sectionWidth
	margin: 20px auto

	.section-header
		text-align: center
			
		ul.nav-bullet
			display: inline-block
			width: 100%
			position: absolute
			left: 0px
			top: 5px

			li
				display: inline-block
				background: $colorSecondary
				+squareSize($bulletSize)
				+borderRadius($borderCircle)
				margin: $marginBullet
				cursor: pointer

			li.slick-active
				background: $colorBulletSelected
				border: 2px solid $colorSecondary

		.sponsor-link
			font-size: $fontSizeS
			padding-right: 30px
			height: 28px
			line-height: 28px
			background: url(../images/logoSponsor.png) no-repeat right center
						
	.products-holder
		text-align: center
		overflow: hidden

		.product
			display: inline-block
			width: $productWidth
			margin: $marginProduct
			text-align: left
			clear: both


			a.product-image
				display: block
				width: 100%
				text-align: center
				margin: $marginProductImage
				+squareSize($imageViewport)
				vertical-align: middle

				img
					padding-top: 5px

				span.overlay
					display: block
					opacity: 0
					position: absolute
					top: 0px
					+squareSize(100%)
					background: $colorSecondary
					+transition($globalTransition)
								
			a.product-name
				display: block
				text-transform: uppercase
				color: $colorPrimary
				font-size: $fontSizeM
				margin: $marginProductTitle 
				line-height: $lineHeightTitle

			span.deal-source
				font-size: $fontSizeM
				cursor: pointer

			span.price
				color: $colorPrice
				font-size: $fontSizeM
				font-weight: bold
				cursor: pointer

	.prevArrow, .nextArrow
		+transition($arrowTransition)
		display: block
		width: 19px
		height: 36px
		position: absolute
		opacity: 0
		background-repeat: no-repeat
		top: 185px
		cursor: pointer
		z-index: 2

	.prevArrow
		background-image: $prevArrow
		left: -78px

	.nextArrow
		background-image: $nextArrow
		right: -78px



		//hover states

#widget-standart .product:hover a.product-image span.overlay
	opacity: 0.2


section#widget-standart:hover .prevArrow
	opacity: 1

section#widget-standart:hover .nextArrow
	opacity: 1









				











			
			

			








